/**
 * Standard column layout using css grid
 * Note: to reverese direction and put sidebar on left, add
 * the class "reverse" to your grid container
 * Also includes general columns for other uses, 
 * give parent the class "grid" and children the classes "grid-col" and 
 * the column-span specific class ie, "grid-col-1", "grid-col-2", etc.
 */
@import "./variables";

@media(min-width:$grid-breakpoint) {
  .grid {
    display: -ms-grid;
    display: grid;
    @include grid-columns($grid-gap, $grid-columns);
    .main-col {
      -ms-grid-column: 1;
      -ms-grid-column-span: ($main-grid-span * 2) - 1;
      grid-column: span $main-grid-span;
    }
    .sidebar {
      -ms-grid-column: ($main-grid-span * 2) + 1;
      -ms-grid-column-span: ($aside-grid-span * 2) - 1;
      grid-column: span $aside-grid-span;
    }
    .grid-col {
      grid-column: auto;
    }
    .grid-col-1 {
      -ms-grid-column-span: 2;
      grid-column: span 1;
    }
    .grid-col-2 {
      -ms-grid-column-span: 3;
      grid-column: span 2;
    }
    .grid-col-3 {
      -ms-grid-column-span: 5;
      grid-column: span 3;
    }
    .grid-col-4 {
      -ms-grid-column-span: 7;
      grid-column: span 4;
    }
    .grid-col-5 {
      -ms-grid-column-span: 9;
      grid-column: span 5;
    }
    .grid-col-6 {
      -ms-grid-column-span: 11;
      grid-column: span 6;
    }
    .grid-col-7 {
      -ms-grid-column-span: 13;
      grid-column: span 7;
    }
    .grid-col-8 {
      -ms-grid-column-span: 15;
      grid-column: span 8;
    }
    .grid-col-9 {
      -ms-grid-column-span: 17;
      grid-column: span 9;
    }
    .grid-col-10 {
      -ms-grid-column-span: 19;
      grid-column: span 10;
    }
    .grid-col-11 {
      -ms-grid-column-span: 21;
      grid-column: span 11;
    }
    .grid-col-12 {
      -ms-grid-column-span: 23;
      grid-column: span 12;
    }
    .grid-col-13 {
      -ms-grid-column-span: 25;
      grid-column: span 13;
    }
    .grid-col-14 {
      -ms-grid-column-span: 27;
      grid-column: span 14;
    }
    .grid-col-15 {
      -ms-grid-column-span: 29;
      grid-column: span 15;
    }
    .grid-col-16 {
      -ms-grid-column-span: 31;
      grid-column: span 16;
    }
    .grid-col-full {
      -ms-grid-column-span: ($grid-columns * 2) - 1;
      grid-column: span $grid-columns;
    }
    &.reverse {
      grid-auto-flow: dense;
      .main-col {
        -ms-grid-column: ($aside-grid-span * 2) + 1;
        -ms-grid-column-span: ($main-grid-span * 2) - 1;
        grid-column: ($aside-grid-span + 1) / span $main-grid-span;
      }
      .sidebar {
        -ms-grid-column: 1;
        -ms-grid-column-span: ($aside-grid-span * 2) - 1;
        grid-column: 1 / span $aside-grid-span;
      }
    }
  }
}